@page "/auth/google/link/"
@inject NavigationManager NavigationManager
@inject ClientAuthService AuthService

<p>hej</p>
<p>Code: @Code</p>

@code {
    [Parameter]
    public string Code { get; set; }

    [Parameter]
    public string Scope { get; set; }

    protected override async void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        Code = queryParams["code"];
        if(Code != null)
        {
            await AuthService.LinkGoogleAccountAsync(Code);
        }
    }
}