@page "/auth/google/login/"
@inject NavigationManager NavigationManager
@inject ClientAuthService AuthService

<div class="bg-white flex flex-col mx-auto text-center gap-2 py-12 px-8 rounded-md max-w-md shadow-sm">
    <p>Loading...</p>
</div>

@code {
    [Parameter]
    public string Code { get; set; }

    protected override async void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        Code = queryParams["code"];
        if (Code != null)
        {
            await AuthService.LoginGoogleAsync(Code);
            NavigationManager.NavigateTo("/");
        }
    }
}
