@page "/auth/google/login/"
@inject NavigationManager NavigationManager
@inject ClientAuthService AuthService

<div class="mx-auto flex max-w-md flex-col gap-2 rounded-md bg-white px-8 py-12 text-center shadow-sm">
    @if(!string.IsNullOrEmpty(Message))
    {
        <p>@Message</p>
    }
    else{
        <p>Loading...</p>
    }
</div>

@code {
    [Parameter]
    public string Code { get; set; }

    public string Message { get; set; }

    protected override async void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        Code = queryParams["code"];
        if (Code != null)
        {
            var response = await AuthService.LoginGoogleAsync(Code);
            if (response.Success == true)
            {
                NavigationManager.NavigateTo("/settings");
            }
            else
            {
                Message = "Login through google failed, please link your google account first.";
                StateHasChanged();
            }

        }
    }
}
