@using Microsoft.AspNetCore.Authorization
@using WalliCardsNet.ClassLibrary.Card
@using WalliCardsNet.Client.Models
@using WalliCardsNet.Client.Components.PassDesigner
@page "/card/{token}"
@attribute [Authorize]
@inject WalliCardsApiService WalliCardsApiService;

<div class="col">
    <button class="btn btn-primary" @onclick='() => SetCurrentView("google")'>Google Pass Designer</button>
    <button class="btn btn-primary" @onclick='() => SetCurrentView("join")'>Join Form Designer</button>
</div>
@if (CurrentView == "google")
{
    <GooglePassDesigner></GooglePassDesigner>
}

@if (CurrentView == "join")
{
    <JoinFormDesigner Token="@Token"></JoinFormDesigner>
}

else if (CurrentView == "old")
{
    <h3>CardDesigner</h3>
} 


@code {
    [Parameter]
    public string Token { get; set; }

    public string CurrentView { get; set; } = "";


    public async Task SetCurrentView(string newView)
    {
        CurrentView = newView;
        StateHasChanged();
    }
}
