@using Microsoft.AspNetCore.Authorization
@using WalliCardsNet.ClassLibrary.Card
@using WalliCardsNet.Client.Models
@page "/card/{token}"
@attribute [Authorize]
@inject WalliCardsApiService WalliCardsApiService;

<h3>CardDesigner</h3>

<EditForm Model="Card">
    <div>
        <button @onclick="CreateField">Create Field</button>
        @foreach (var field in Fields)
        {
            <div>
                <InputText @bind-Value="field.FieldName" placeholder="Field name"/>
                <InputText @bind-Value="field.FieldType" placeholder="Field type"/>
                <InputText @bind-Value="field.Label" placeholder="Label" />
                <label>Required field</label>
                <InputCheckbox @bind-Value="field.IsRequired"/>
                <button type="button" @onclick="() => DeleteField(field)">Delete Field</button>
            </div>
        }
    </div>
    <div>
        <label>Background Color</label>
        <input type="color" @bind="BackgroundColor" />
    </div>
    <div>
        <label>Text Color</label>
        <input type="color" @bind="TextColor" />
    </div>
   
</EditForm>


<button @onclick="CreateCard">Create Card</button>


<h3>Preview</h3>
<div style="background-color:@BackgroundColor; color:@TextColor;">
    @foreach (var field in Fields)
    {
        <div>
            <label>
                @field.Label 
            </label>
            @if (field.IsRequired == true)
            {
                <label>*</label>
            }
            @{
                string exampleText = "";
            }
            @switch (field.FieldType)
            {

                case "text":
                    <InputText @bind-Value="exampleText" />
                    break;
                case "email":
                    <InputText @bind-Value="exampleText" />
                    break;
                default:
                    <p>Unsupported field type: @field.FieldType</p>
                    break;
            }
        </div>
    }
</div>


@code {
    [Parameter]
    public string Token { get; set; }

    public CardRequestDTO Card { get; set; } = new CardRequestDTO();

    public List<CardField> Fields { get; set; } = new List<CardField>();
    public string BackgroundColor { get; set; } = "#ffffff"; 
    public string TextColor { get; set; } = "#000000"; 

    public async Task CreateCard()
    {
        Card.BusinessToken = Token;
        var cardDesign = new CardDesign
        {
            CardFields = Fields,
            CssOptions = new Dictionary<string, string>
            {
                {"background-color", BackgroundColor },
                {"color", TextColor }
            }
        };
        Card.DesignJson = System.Text.Json.JsonSerializer.Serialize(cardDesign);
        var response = await WalliCardsApiService.PostAsync<CardRequestDTO>("cardtemplate", Card);
        if (response.IsSuccess)
        {
            Console.WriteLine("Success");
        }
        else
        {
            Console.WriteLine($"Error: {response.Message}");
        }
    }

    public async Task CreateField()
    {
        Fields.Add(new CardField { FieldName = "", FieldType = "", Label = "", IsRequired = false });
        StateHasChanged();
    }

    public async Task DeleteField(CardField field)
    {
        Fields.Remove(field);
    }
}
