@using Microsoft.AspNetCore.Authorization
@using WalliCardsNet.ClassLibrary.BusinessProfile
@using WalliCardsNet.ClassLibrary.Card
@using WalliCardsNet.Client.Models
@using WalliCardsNet.Client.Components.PassDesigner
@page "/card/{token}"
@attribute [Authorize]
@inject WalliCardsApiService WalliCardsApiService;


@if(Business != null)
{
    <div class="col">
        <button class="btn btn-primary" @onclick='() => SetCurrentView("google")'>Google Pass Designer</button>
        <button class="btn btn-primary" @onclick='() => SetCurrentView("join")'>Join Form Designer</button>
    </div>
    @if (CurrentView == "google")
    {
        <GooglePassDesigner BusinessProfile="@BusinessProfile"
                            BusinessName="@Business.Name"></GooglePassDesigner>
    }

    @if (CurrentView == "join")
    {
        <JoinFormDesigner Token="@Token"
                          BusinessProfile="@BusinessProfile"></JoinFormDesigner>
    }

    else if (CurrentView == "old")
    {
        <h3>CardDesigner</h3>
    }
    <button @onclick="Create">Create</button>
}

@code {
    [Parameter]
    public string Token { get; set; }

    public string CurrentView { get; set; } = "google";

    public BusinessDTO Business { get; set; } = new BusinessDTO();
    public BusinessProfileRequestDTO BusinessProfile { get; set; } = new BusinessProfileRequestDTO();

    protected override async Task OnInitializedAsync()
    {
        var response = await WalliCardsApiService.GetByTokenAsync<BusinessDTO>("business", Token);
        if (response.IsSuccess)
        {
            Business = response.Data;
            StateHasChanged();
        }
    }

    public async Task SetCurrentView(string newView)
    {
        CurrentView = newView;
        StateHasChanged();
    }

    public async Task Create()
    {
        var response = await WalliCardsApiService.PostAsync<BusinessProfileRequestDTO>("businessprofile/create", BusinessProfile);
    }
}
