@page "/forgot-password"
@using WalliCardsNet.ClassLibrary.ApplicationUser
@inject WalliCardsApiService WallicardsApiService

<EditForm Model="@this" OnValidSubmit="SendForgotPasswordEmail">
<div class="bg-white flex flex-col mx-auto text-center gap-2 py-12 px-8 rounded-md max-w-md shadow-sm">
        <h1 class="text-lg font-bold">Reset password</h1>
        <InputText class="px-3 py-2 rounded-lg shadow-lg w-full focus:ring ring-cyan-100 border" placeholder="Email address" type="email" @bind-Value="Email" />
        <ValidationMessage For="@(() => Email)" />
        <button class="font-bold rounded-md shadow-md text-gray-50 bg-teal-300 py-3 px-4 hover:bg-teal-400 active:bg-teal-200 transition " type="submit">Send password reset email</button>
    </div>
</EditForm>
@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>
}

@code {
    public string Email { get; set; }
    public string Message { get; set; }

    public async Task SendForgotPasswordEmail()
    {
        if (!string.IsNullOrEmpty(Email))
        {
            var response = await WallicardsApiService.PostAsync<string>("user/forgot-password", Email);
            if (response.IsSuccess)
            {
                Message = response.Data;
                StateHasChanged();
            }
        }
    }
}
