@page "/forgot-password"
@using WalliCardsNet.ClassLibrary.ApplicationUser
@inject WalliCardsApiService WallicardsApiService
<h3>ForgotPassword</h3>

<EditForm Model="@this" OnValidSubmit="SendForgotPasswordEmail">
    <InputText type="email" @bind-Value="Email" />
    <ValidationMessage For="@(() => Email)" />
    <button type="submit">Send password reset email</button>
</EditForm>
@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>
}

@code {
    public string Email { get; set; }
    public string Message { get; set; }

    public async Task SendForgotPasswordEmail()
    {
        if (!string.IsNullOrEmpty(Email))
        {
            var response = await WallicardsApiService.PostAsync<string>("user/forgot-password", Email);
            if (response.IsSuccess)
            {
                Message = response.Data;
                StateHasChanged();
            }
        }
    }
}
