@page "/"
@using System.Security.Cryptography
@using WalliCardsNet.Client.Components.Business

<PageTitle>Home</PageTitle>



<AuthorizeView>

    <NotAuthorized>
        <Login />
    </NotAuthorized>
    <Authorizing>
        <p>Authorization underway...</p>
    </Authorizing>
    <Authorized>
        
        <p>Welcome, @context.User.Identity.Name!</p>
        <p>Here are all your claims:</p>
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
                if (claim.Type == "business-id")
                {
                    BusinessId = claim.Value;
                }
            }
        </ul>
        <SetBusinessName BusinessId="@BusinessId"></SetBusinessName>
        <GoogleSignIn></GoogleSignIn>
    </Authorized>
    
    
</AuthorizeView>


@code{

    public List<string> Roles {get; set; }
    public string Token { get; set; }
    public string BusinessId { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
    
}
