@page "/join/{token}"
@using WalliCardsNet.ClassLibrary
@inject WalliCardsApiService WalliCardsApiService
@inject HttpClient Http

<h3>JoinBusiness</h3>
@if (Business != null)
{
    <p>Join @Business.Name</p>
}
else
{
    <p>@ErrorMessage</p>
}

@code {
    [Parameter]
    public string Token { get; set; }
    public PublicBusinessTokenDTO Business {get; set;} 
    public string ErrorMessage { get; set; }
    public bool Fetching = false;

    protected override async Task OnInitializedAsync()
    {
        Fetching = true;
        var response = await WalliCardsApiService.GetByTokenAsync<PublicBusinessTokenDTO>("Business", Token);
        if (response.IsSuccess)
        {
            Business = response.Data;
        }
        else
        {
            ErrorMessage = response.Message;
        }
        Fetching = false;
        StateHasChanged();
    }
}
