@page "/success"

<p>Thank you!</p>
<br/>
<p>A confirmation email has been sent to you. Please follow the instructions to activate your account.</p>

@code {
    [Parameter]
    public string SessionId { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"Session ID: {SessionId}");
    }
}