@page "/success"

<div class="bg-white flex flex-col mx-auto text-center gap-2 py-12 px-8 rounded-md max-w-md shadow-sm">
    <h1 class="font-bold text-xl">Thank you!</h1>
    <br/>
    <p>A confirmation email has been sent to you. Please follow the instructions to activate your account.</p>
</div>

@code {
    [Parameter]
    public string SessionId { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"Session ID: {SessionId}");
    }
}