@* @using WalliCardsNet.ClassLibrary.Business
@using WalliCardsNet.Client.Models
@using WalliCardsNet.Client.Services
@inject WalliCardsApiService WalliCardsApiService
@inject HttpClient Http

<h3>Add business</h3>

<EditForm Model="Business">
    <div>
        <label>Name</label>
        <InputText @bind-Value="Business.Name"></InputText>
    </div>
    <button type="submit" @onclick="Submit">Add</button>
</EditForm>

@if (!string.IsNullOrEmpty(SuccessMessage))
{
    <p>@SuccessMessage</p>
}
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p>@ErrorMessage</p>
}

@code {
    public BusinessRequestDTO Business { get; set; }
    public string SuccessMessage { get; set; } = "";
    public string ErrorMessage { get; set; } = "";
    public bool Adding { get; set; } = false;

    public async Task Submit()
    {
        SuccessMessage = "";
        ErrorMessage = "";
        Adding = true;

        var response = await WalliCardsApiService.PostAsync<BusinessDTO>("business", Business);
        if (response.IsSuccess)
        {
            SuccessMessage = $"Successfully added {Business.Name}";
        }
        else
        {
            ErrorMessage = $"{response.Message} {Business.Name}";
        }
    }
} *@
