@* @inject HttpClient Http
@inject WalliCardsApiService WalliCardsApiService

<h3>Get by ID</h3>
<InputText @bind-Value="BusinessId"></InputText>
<button @onclick="Search">Search</button>

@if (Business != null)
{
    <p>Name: @Business.Name</p>
}
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <p>@ErrorMessage</p>
}
@if (Fetching == true){
    <p>Fetching data ...</p>
}

@code {
    public BusinessDTO Business { get; set; }
    public string BusinessId { get; set; }
    public string ErrorMessage { get; set; } = "";
    public bool Fetching { get; set; } = false;

    public async Task Search()
    {
        Business = null;
        ErrorMessage = "";
        Fetching = true;

        var response = await WalliCardsApiService.GetByIdAsync<BusinessDTO>("Business", BusinessId);
        if (response.IsSuccess)
        {
            Business = response.Data;
        }
        else
        {
            ErrorMessage = response.Message;
        }

        Fetching = false;
        StateHasChanged();
    }
} *@