@inject HttpClient Http
@using WalliCardsNet.ClassLibrary

<h3>All businesses</h3>
@if (Fetching)
{
    <p>Fetching data ...</p>
}
@if (Businesses != null && Businesses.Count > 0)
{
    <table>
        <thead>
            <tr>
                <th colspan="3">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var business in Businesses)
            {
                <tr>
                    @if (business.Id == EditBusinessId)
                    {
                        <InputText @bind-Value="business.Name" />
                        <button @onclick="() => SaveChangesAsync(business)">Save</button>
                        <button @onclick="CancelEdit">Cancel</button>
                    }
                    else
                    {
                        <p>@business.Name</p>
                    }
                    <td><button @onclick="() => EditBusiness(business.Id)">Edit</button></td>
                    <td><button @onclick="() => DeleteBusinessAsync(business.Id)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    public List<BusinessDTO> Businesses { get; set; }
    public string ErrorMessage { get; set; } = "";
    public bool Fetching { get; set; } = false;
    public int? EditBusinessId { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await FetchBusinesses();
    }

    public async Task FetchBusinesses()
    {
        Businesses = null;
        Fetching = true;
        try
        {
            var response = await Http.GetAsync("api/Business");
            if (response.IsSuccessStatusCode)
            {
                var result = await Http.GetFromJsonAsync<List<BusinessDTO>>("api/Business");
                if (result != null)
                {
                    Businesses = result;
                }
            }
            else
            {
                ErrorMessage = $"Error fetching data: {response.StatusCode}";
            }
        }
        finally
        {
            Fetching = false;
            StateHasChanged();
        }
    }

    public void EditBusiness(int businessId)
    {
        EditBusinessId = businessId;
    }

    public void CancelEdit()
    {
        EditBusinessId = null;
    }

    public async Task SaveChangesAsync(BusinessDTO business)
    {
        var response = await Http.PutAsJsonAsync($"api/Business/", business);
        if (response.IsSuccessStatusCode)
        {
            EditBusinessId = null;
            StateHasChanged();
        }
        else
        {
            ErrorMessage = $"Error saving changes: {response.StatusCode}";
        }
    }

    public async Task DeleteBusinessAsync(int id)
    {
        var response = await Http.DeleteAsync($"api/Business/{id}");
        if (response.IsSuccessStatusCode)
        {
            EditBusinessId = null;
            await FetchBusinesses();
            StateHasChanged();
        }
        else
        {
            ErrorMessage = "Something went wrong.";
        }
    }
}