@inject NavigationManager NavigationManager
@if (string.IsNullOrEmpty(GoogleId))
{
    <button class="flex w-full items-center justify-center gap-4 rounded-md bg-gray-50 px-4 py-3 font-bold text-gray-900 shadow-md transition hover:bg-gray-100 active:bg-gray-200" @onclick="RedirectToGoogleSignIn"><img class="bg-grey-50 h-6 w-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/640px-Google_%22G%22_logo.svg.png" />Link your Google Account</button>
}

@code {
    [Parameter]
    public string GoogleId { get; set; }

    private string clientId = "";
    private string redirectUri = "https://localhost:7102/auth/google/link/";


    protected override async Task OnInitializedAsync()
    {
        clientId = AppConfiguration.GoogleClientId;
    }

    private void RedirectToGoogleSignIn()
    {
        var googleSignInUrl = $"https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id={clientId}&redirect_uri={redirectUri}&scope=email%20profile";
        NavigationManager.NavigateTo(googleSignInUrl, true);
    }
}