@inject NavigationManager NavigationManager

<button class="flex items-center justify-center gap-4 rounded-md shadow-md font-bold text-gray-900 bg-gray-50 py-3 px-4 hover:bg-gray-100 active:bg-gray-200 transition " @onclick="RedirectToGoogleSignIn"><img class="bg-grey-50 w-6 h-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/640px-Google_%22G%22_logo.svg.png"/>Log in with Google</button>

@code {
    private string clientId = "";
    private string redirectUri = "https://localhost:7102/auth/google/login/";

    protected override async Task OnInitializedAsync()
    {
        clientId = AppConfiguration.GoogleClientId;
    }

    private void RedirectToGoogleSignIn()
    {
        var googleSignInUrl = $"https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id={clientId}&redirect_uri={redirectUri}&scope=email%20profile";
        NavigationManager.NavigateTo(googleSignInUrl, true);
    }
}