@inject AuthStateProvider authState
@inject ClientAuthService authService
@inject NavigationManager navManager

<button @onclick="async () => await LogoutAsync()">Logout</button>

@code {

    public async Task LogoutAsync()
    {
        await authService.LogoutAsync();
        await authState.LogoutAsync();
        navManager.NavigateTo("/");
    }
}
