@inject AuthStateProvider authState
@inject ClientAuthService authService
@inject NavigationManager navManager

<button class="font-bold text-2xl text-gray-50 hover:text-cyan-950 transition" @onclick="async () => await LogoutAsync()">Logout</button>

@code {

    public async Task LogoutAsync()
    {
        await authService.LogoutAsync();
        await authState.LogoutAsync();
        navManager.NavigateTo("/");
    }
}
