@inject AuthStateProvider authState
@inject NavigationManager navManager

<button @onclick="async () => await LogoutAsync()">Logout</button>

@code {

    public async Task LogoutAsync()
    {
        await authState.LogoutAsync();
        navManager.NavigateTo("/", true);
    }
}
