
<button @onclick="ToggleEditMenu">
    @(IsCollapsed ? "Edit" : "Close")
</button>

@if (!IsCollapsed)
{


    <button @onlick="ToggleAddField">Add</button>
    if (ShowAddField)
    {
        <EditForm Model="NewColumn" OnSubmit="AddColumn" FormName="AddColumnName">

            <InputText @bind-Value="NewColumn"/>

            <button type="submit">Save</button>
        </EditForm>
    }
    

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var column in Columns)
            {
                <tr>
                    <td>@column</td>
                    <td><b>X</b></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public List<string> Columns { get; set; }
    [Parameter]
    public EventCallback<List<string>> OnColumnsUpdated { get; set; }
    public string? NewColumn { get; set; }
    private bool IsCollapsed { get; set; } = true;
    private bool ShowAddField { get; set; } = false;


    private void ToggleEditMenu()
    {
        IsCollapsed = !IsCollapsed;
    }

    private void ToggleAddField()
    {
        ShowAddField = !ShowAddField;
    }

    private void AddColumn()
    {
        Columns.Add(NewColumn);
        StateHasChanged();

    }

    

}
